@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-anchor {
    background-color: rgba(17, 24, 39, 1);

    border-radius: 6px;
}
.menu-anchor:hover {
    background-color: rgba(55, 65, 81 , 1);

    border-radius: 6px;
}

.submenu a:hover{
    background-color: rgba(55,65,81,1);
}